
header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}
.products-container {
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.products.five-per-line {
  grid-template-columns: repeat(5, 1fr);
}

.card-products {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.product-image {
  width: 140px;
}

.product-name {
  margin: 10px 0;
}

.product-price {
  margin: 10px 0;
}

.button-container {
  margin-top: 10px;
}

.product-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.product-button:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }

  .products.five-per-line {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .products.five-per-line {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: 1fr;
  }

  .products.five-per-line {
    grid-template-columns: repeat(2, 1fr);
  }
}
